@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 217 27% 20%;
    --foreground: 220 12% 85%;

    --muted: var(--background);
    --muted-foreground: 215 33% 26%;

    --primary: 216 34% 16%;
    --primary-foreground: 0 0% 100%;

    --secondary: 213 26% 30%;
    --secondary-foreground: var(--foreground);

    --accent: 187 100% 50%;
    --accent-foreground: var(--foreground);

    --border: var(--accent);
  }

  .dark {
    --background: 215 33% 0%;
    --foreground: 0 0% 100%;
  }

  input {
    @apply bg-transparent outline-none;
  }
}

@layer base {
  * {
    @apply transition-all border-border ring-border;
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    @apply bg-accent;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-accent/70;
  }
  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
  }
  body {
    @apply overflow-x-hidden bg-background text-foreground debug-screens;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
